@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #e02c6d;
  --color-secondary: #000000;
  --color-secondary-light: #3a3a3a;
  --color-footer: #0a0826;
  --color-white: #ffffff;
}

/* navbar section starts  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
}

.navbar h3 {
  font-weight: 700;
  font-size: 25px;
  color: var(--color-secondary);
}

.navbar-model {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 30px;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-secondary);
}

/* navbar section ends */

/* header section starts */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 150px;
}

.title {
  font-weight: 700;
  font-size: 52px;
  color: var(--color-secondary);
  margin-bottom: 20px;
}

.story {
  font-weight: 700;
  font-size: 15px;
  color: var(--color-secondary-light);
  margin-bottom: 20px;
}

.btn-primary {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 600;
  font-size: 15px;
  border: none;
}

.header-image {
  padding-left: 50px;
}

/* header section ENDS */

/* icon section starts  */

.icon {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 70%;
  margin: 0 auto;
}

.icon img {
  width: 80%;
  height: 90px;
  margin-top: 30px;
  border: 3px solid var(--color-white);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 0 20px;
  margin-bottom: 100px;
}

/* icon section ends */

/* collection section starts  */

.collection {
  width: 70%;
  margin: 0 auto;
}

.collection-title {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 30px;
}

.collection-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.collection-list {
  width: 100%;
  height: 430px;
  margin-top: 20px;
  border: 3px solid var(--color-white);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.parcent {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}

.parcent p {
  font-weight: 400;
  font-size: 15px;
  color: var(--color-secondary-light);
}

.collection h3 {
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0;
}

.collection h4 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.collection p {
  font-weight: 400;
  font-size: 15px;
  color: var(--color-secondary-light);
}

/* collection section ends  */
/* <!-- Featured section starts  --> */

.featured {
  width: 70%;
  margin: 0 auto;

}

.featured-product {
  display: flex;
  gap: 50px;
  align-items: center;
margin-top: 100px;
}

.featured-title{
    font-weight: 700;
    font-size: 38px;
    color: var(--color-footer);
    margin-bottom: 10px;
}

.featured-story{
    font-weight: 700;
font-size: 15px;
    color: var(--color-secondary-light);
    margin-bottom: 10px;
}

/* <!-- Featured section ends  -->  */
